<a href="https://colab.research.google.com/github/paulapipkin/Never-Married-Is-on-the-Rise/blob/main/00_Core_Abalone_Preprocessing_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Abalone Preprocessing Exercise

- Paula Pipkin
- 7/19

Import Libaries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector,  make_column_transformer
#from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

Loading data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/BootCamp/05 - 08 - MACHINE LEARNING/01 Week 05 - Intro to Machine Learning/abalone.data', header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

adding columns names

In [ ]:
df.columns=['Sex','Length','Diameter','Height','Whole weight','Shucked weight',	'Viscera weight',	'Shell weight','Rings']
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [ ]:
df.duplicated().sum()

0

1) Separate your data into the features matrix (X) and target vector (y).

2) Train/test split the data. Please use the random number 42 for consistency.

In [ ]:
X = df.drop(columns='Rings')
y = df['Rings']

In [ ]:
X.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

3) Create a ColumnTransformer to preprocess the data. Remember to:

    a) Create column selectors for the numeric and categorical columns

    b) Create a OneHotEncoder for one-hot encoding the categorical columns

    c) Create a StandardScaler for scaling numeric columns

    d) Match each transformer with the appropriate selector in a tuple

    e) Use the tuples to create a ColumnTransformer to preprocess the data.

In [ ]:
#a) Instantiate the categorical and numeric column selectors
cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

In [ ]:
# b & c) Instantiate the Standard Scaler and the One hot encoder
ohe_encoder = OneHotEncoder(handle_unknown='ignore')
scaler = StandardScaler()

In [ ]:
#d) Make tuples for preprocessing the categorical and numeric columns
num_col_tuple = (scaler, num_selector)
cat_col_tuple = (ohe_encoder,cat_selector)

In [ ]:
#e)Use the tuples to create a ColumnTransformer to preprocess the data
transformer = make_column_transformer(num_col_tuple, cat_col_tuple, remainder='passthrough')

4) Transform your data and display the result.

In [ ]:
transformer.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f564cdc0950>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f564cdc0090>)])

In [ ]:
X_train_processed = transformer.transform(X_train)
X_test_processed = transformer.transform(X_test)

In [ ]:
X_train_df = pd.DataFrame(X_train_processed)
X_train_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.749291,0.464226,-0.118869,0.457447,0.499098,0.743973,0.241135,1.0,0.0,0.0
1,-0.090254,-0.144654,-0.001647,-0.301655,-0.364269,-0.514040,-0.145838,1.0,0.0,0.0
2,1.127086,1.225326,0.818910,1.523852,1.692114,1.544526,1.179902,0.0,0.0,1.0
3,-0.593980,-0.449095,-1.056649,-0.651696,-0.617673,-0.738195,-0.647469,0.0,0.0,1.0
4,-0.258163,-0.093914,0.350020,-0.052352,-0.572823,-0.605532,0.785763,0.0,0.0,1.0